<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>.:: SisCPP ::.</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/custom.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/font-awesome.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/cssMenu.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap-datepicker.standalone.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{http://fonts.googleapis.com/css?family=Open+Sans}" />
</head>
<body>
	<div id="wrapper">
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="adjust-nav">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target=".sidebar-collapse">
						<span class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#"> <img id="logo-topo"
						th:src="@{/images/logo-topo.png}" />
					</a>
				</div>

			</div>
		</div>
		<!-- /. fim barra do topo  -->

		<nav class="navbar-default navbar-side" role="navigation">
			<div class="sidebar-collapse">
				<div id='cssmenu'></div>


			</div>

		</nav>
		<!-- /. fim menu Lateral  -->

		<div id="page-wrapper">
			<div id="page-inner">
				<div class="row">
					<div class="col-lg-12 tituloPagina">
						<h1>Digite suas Credenciais</h1>
					</div>
				</div>

				<hr />

				<div class="row pad-top">
					<div class="conteudo-pagina">
						<div class="row">
							<div class="col-sm-4 col-sm-offset-4">
								<div th:if="${param.error}">
									<div class="alert alert-danger">Usuário e/ou inválidos!</div>
								</div>

									
									<div class="panel-body">
										<form action="/entrar" method="post">
											<div class="form-group">
												<input name="username" class="form-control"
													placeholder="Usuário" />
											</div>

											<div class="form-group">
												<input type="password" name="password" class="form-control"
													placeholder="Senha" />
											</div>

											<div class="form-group">
												<button class="btn btn-danger btn-block">Entrar</button>
											</div>

											<input type="hidden" th:name="${_csrf.parameterName}"
												th:value="${_csrf.token}" />
										</form>
									</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<div class="footer">


		<div class="row">
			<div class="col-lg-12"></div>
		</div>
	</div>




	<script th:src="@{/js/jquery-2.1.4.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/bootstrap-datepicker.min.js}"></script>
	<script th:src="@{/js/bootstrap-datepicker.pt-BR.min.js}"></script>
	<script th:src="@{/js/jquery.maskMoney.min.js}"></script>
	<script th:src="@{/js/custom.js}"></script>
	<script th:src="@{/js/mascaraHora.js}"></script>
	<script th:src="@{/js/buscaCEP.js}"></script>
	<script th:src="@{/js/clienteJS.js}"></script>
	<script th:src="@{/js/mascara.js}"></script>

</body>
</html>